<a href="https://colab.research.google.com/github/JaviLaura/Pandas_Practice/blob/main/Pandas_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
#Filtering
csv1 = pd.read_csv('https://static.junilearning.com/python_data_science/tips.csv')
display(csv1)

     total_bill   tip     sex   day
0         16.99  1.01  Female   Sun
1         10.34  1.66    Male   Sun
2         21.01  3.50    Male   Sun
3         23.68  3.31    Male   Sun
4         24.59  3.61  Female   Sun
..          ...   ...     ...   ...
239       29.03  5.92    Male   Sat
240       27.18  2.00  Female   Sat
241       22.67  2.00    Male   Sat
242       17.82  1.75    Male   Sat
243       18.78  3.00  Female  Thur

[244 rows x 4 columns]

In [ ]:
filteredData = csv1[csv1['day'] == 'Sun']
filteredData.describe()

       total_bill        tip
count   76.000000  76.000000
mean    21.410000   3.255132
std      8.832122   1.234880
min      7.250000   1.010000
25%     14.987500   2.037500
50%     19.630000   3.150000
75%     25.597500   4.000000
max     48.170000   6.500000

In [ ]:
print(csv1) #What is the difference between printing and displaying a data frame? Printing means printing text, but display is better for graphics.

     total_bill   tip     sex   day
0         16.99  1.01  Female   Sun
1         10.34  1.66    Male   Sun
2         21.01  3.50    Male   Sun
3         23.68  3.31    Male   Sun
4         24.59  3.61  Female   Sun
..          ...   ...     ...   ...
239       29.03  5.92    Male   Sat
240       27.18  2.00  Female   Sat
241       22.67  2.00    Male   Sat
242       17.82  1.75    Male   Sat
243       18.78  3.00  Female  Thur

[244 rows x 4 columns]

In [ ]:
display(filteredData)

     total_bill   tip     sex  day
0         16.99  1.01  Female  Sun
1         10.34  1.66    Male  Sun
2         21.01  3.50    Male  Sun
3         23.68  3.31    Male  Sun
4         24.59  3.61  Female  Sun
..          ...   ...     ...  ...
186       20.90  3.50  Female  Sun
187       30.46  2.00    Male  Sun
188       18.15  3.50  Female  Sun
189       23.10  4.00    Male  Sun
190       15.69  1.50    Male  Sun

[76 rows x 4 columns]

Error: Runtime no longer has a reference to this dataframe, please re-run this cell and try again.

In [ ]:
filteredData = csv1[csv1['tip'] < 2]
display(filteredData)

In [ ]:
filteredData = csv1[(csv1['day'] == 'Fri') & (csv1['sex'] == 'Female')] 
display(filteredData)

     total_bill   tip     sex  day
92         5.75  1.00  Female  Fri
93        16.32  4.30  Female  Fri
94        22.75  3.25  Female  Fri
100       11.35  2.50  Female  Fri
101       15.38  3.00  Female  Fri
221       13.42  3.48  Female  Fri
223       15.98  3.00  Female  Fri
225       16.27  2.50  Female  Fri
226       10.09  2.00  Female  Fri

In [ ]:
filteredData = csv1[((csv1['day'] == 'Fri') | (csv1['day'] == 'Thur')) & (csv1['tip'] == 3)]   #| is or. 
display(filteredData)

     total_bill  tip     sex   day
78        22.76  3.0    Male  Thur
80        19.44  3.0    Male  Thur
89        21.16  3.0    Male  Thur
90        28.97  3.0    Male   Fri
98        21.01  3.0    Male   Fri
101       15.38  3.0  Female   Fri
223       15.98  3.0  Female   Fri
243       18.78  3.0  Female  Thur

In [ ]:
filteredData = csv1[(csv1['day'] == 'Fri') | (csv1['day'] == 'Thur')]
display(filteredData)

     total_bill   tip     sex   day
77        27.20  4.00    Male  Thur
78        22.76  3.00    Male  Thur
79        17.29  2.71    Male  Thur
80        19.44  3.00    Male  Thur
81        16.66  3.40    Male  Thur
..          ...   ...     ...   ...
223       15.98  3.00  Female   Fri
224       13.42  1.58    Male   Fri
225       16.27  2.50  Female   Fri
226       10.09  2.00  Female   Fri
243       18.78  3.00  Female  Thur

[81 rows x 4 columns]

In [ ]:
filteredData = csv1[(csv1['tip'] == 3)]
display(filteredData)

     total_bill  tip     sex   day
13        18.43  3.0    Male   Sun
29        19.65  3.0  Female   Sat
32        15.06  3.0  Female   Sat
45        18.29  3.0    Male   Sun
49        18.04  3.0    Male   Sun
56        38.01  3.0    Male   Sat
71        17.07  3.0  Female   Sat
78        22.76  3.0    Male  Thur
80        19.44  3.0    Male  Thur
89        21.16  3.0    Male  Thur
90        28.97  3.0    Male   Fri
98        21.01  3.0    Male   Fri
101       15.38  3.0  Female   Fri
110       14.00  3.0    Male   Sat
164       17.51  3.0  Female   Sun
184       40.55  3.0    Male   Sun
207       38.73  3.0    Male   Sat
216       28.15  3.0    Male   Sat
223       15.98  3.0  Female   Fri
227       20.45  3.0    Male   Sat
231       15.69  3.0    Male   Sat
234       15.53  3.0    Male   Sat
243       18.78  3.0  Female  Thur

In [ ]:
csv1['day'].unique()

array(['Sun', 'Sat', 'Thur', 'Fri'], dtype=object)

In [ ]:
csv1.groupby('total_bill').mean() #Groupby won't be used with numeric data. #Categorical is data that's categories. Groupby works with categorical data.

               tip
total_bill
3.07         1.000
5.75         1.000
7.25         3.075
7.51         2.000
7.56         1.440
...            ...
45.35        3.500
48.17        5.000
48.27        6.730
48.33        9.000
50.81       10.000

[229 rows x 1 columns]